:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #fff;
  --white-color: #ffffff;
  --white-second-color: #f5f4fa;
  --white-bg-color: #e5e5e5;
  --backgraund-bg-color: #2f303a;
  --social-color: #afb1b8;
}

/* Герой */

.section.hero {
  padding-top: 0;
  padding-bottom: 0;
}
.hero .overley {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #757575;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/hero3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* .hero {
  background-color: rgb(198, 198, 199);
  text-align: center;
} */

.hero {
  text-align: center;
  /* text-transform: uppercase;
  background-color: rgb(198, 198, 199); */
}

.hero-title {
  margin-top: 0;
  margin-bottom: 46px;
  color: var(--white-color);
  padding-top: 200px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.hero .button {
  /* display: inline-block; */
  /* margin-bottom: 200px; */
  min-width: 200px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
/* модульне вікно фон*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--white-color);
}

.modal > .btn {
  position: absolute;
  right: 0;
  top: 0;

  width: 30px;
  height: 30px;

  transform: translate(25%, -25%);

  border-radius: 50%;
  background-color: var(--white-color);
  border-color: transparent;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.icon-btn-close {
  fill: black;
}

.form {
  width: 528px;
  height: 581px;
  padding: 40px;
}
.form-about {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.form-field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.form-input {
  width: 100%;
  height: 40px;

  padding: 12px 8px 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-text {
  position: absolute;
  top: 25%;
  left: 42px;
  /* transform: translate(50% 50%); */

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.icon-form {
  position: absolute;
  top: 85%;
  left: 16px;

  transform: translateY(-125%);

  display: inline-block;
  color: black;
}

.form-input:focus + .form-text {
  color: var(--accent-color);

  transform: translate(-90%, -150%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-text.tel {
  transform: translate(-50%, -150%);
}

.form-input:focus + .form-text.mail {
  transform: translate(-60%, -150%);
}

.form-input:not(:placeholder-shown) + .form-text {
  transform: translate(-90%, -150%);
}

.form-input:not(:placeholder-shown) + .form-text.tel {
  transform: translate(-50%, -150%);
}

.form-input:not(:placeholder-shown) + .form-text.mail {
  transform: translate(-60%, -150%);
}

.form-input:focus-within ~ .icon-form {
  fill: var(--accent-color);
}
.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.form-field.comments {
  margin-bottom: 20px;
}

.form-input.comments {
  height: 120px;
  padding-left: 16px;
  resize: none;
}

.form-text.comments {
  top: 12px;
  left: 16px;
}

.form-input:focus + .form-text.comments {
  transform: translateY(-150%);
}
.form-input:not(:placeholder-shown) + .form-text.comments {
  transform: translateY(-150%);
}
.consent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox {
  width: 15px;
  height: 16px;
  margin: 0;
  margin-right: 5px;

  background-image: url("../images/kvadrat.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.text.consent {
  margin: 0;
  left: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.check-input:checked + .checkbox,
.check-input:checked:focus + .checkbox {
  background-image: url("../images/vector.svg");
  background-size: contain;
  background-color: var(--accent-color);
  border-radius: 4px;
}

.text-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
}
.button.submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--accent-color);

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.works {
  background-color: rgb(198, 198, 199);
  text-transform: uppercase;
}

/* Секції */

.section-title {
  color: var(--title-text-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* переваги і приклади робіт */
.section.advantage {
  border: 1px solid #ececec;
}

/* .iteam .img {
  display: block;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
  padding-top: 25px;
  
  margin-bottom: 30px;
} */
/* .iteam::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
} */
/* .icon-antena::before {
  background-image: url(../images/antenas.svg);
} */

/* .advantage .background-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
} */
.backgraund-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}
.preference-icon {
  width: 65px;
  height: 70px;
  align-items: center;
}

/* .icon-clock::before {
  background-image: url(../images/clocks.svg);
}
.icon-tv::before {
  background-image: url(../images/diagrams.svg);
}
.icon-space::before {
  background-image: url(../images/astronauts.svg);
} */
.adventage .list {
  display: flex;
}

.adventage .iteam {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
}

.adventage .iteam:nth-child(4) {
  margin: 0;
}
.feature-list .title {
  /* outline: 2px solid tomato; */
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* чим ми займаємось */

.doing-text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin: 0;
  padding: 27px;
  background: rgb(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
  text-align: center;
  text-transform: uppercase;
}

.doing .list {
  display: flex;
}
.doing .item {
  position: relative;
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
  text-align: center;
}
.doing .item:nth-child(3) {
  margin-right: 0;
}
.doing .item:nth-child(3) {
  margin-bottom: 0;
}

.doing img {
  display: block;
}
.section-text {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  color: var(--title-text-color);
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
/* Наша команда */

.section.team {
  background-color: var(--white-second-color);
}

.team .list {
  display: flex;
  /* justify-content: space-between; */
}

.team .item {
  margin-right: 30px;
  background-color: var(--background-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team .item:nth-child(4) {
  margin-right: 0;
}

.team-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-position {
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.list.icon {
  display: flex;
  justify-content: center;
  /* margin-right: 0; */
  padding-bottom: 24px;
}
.list .icon li {
  margin-right: 10px;
}

/* .box .link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white-color);
} */
.box .link:hover,
.box .link:focus {
  background-color: var(--accent-color);
}

.box .social-icon:hover,
.box .social-icon:focus {
  fill: var(--white-color);
}
.box .social-icon {
  background-color: transparent;
  fill: var(--social-color);
}

.list .icon li:nth-child(4) {
  margin-right: 0;
}
.team .foto {
  display: block;
  margin-bottom: 30px;
}

.team .list .svg:hover {
  filter: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg)
    brightness(97%) contrast(96%);
}
.list.icon .link:hover,
.list.icon .link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list .icon .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Button */

/* .button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
} */

.button .primary {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* .list {
  list-style: none;
} */

/* постійні клієнти */
.customer .list {
  display: flex;
  /* justify-content: space-evenly; */
}
.customer li {
  margin-right: 30px;
  width: calc((100% - 60px) / 6);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

/* .hero .button {
  display: inline-block;
  padding: 20px 40px;
} */
.customer li:nth-child(6n) {
  margin-right: 0;
}
.customer .link:hover,
.customer .link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  color: var(--social-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-icon {
  /* width: 44px;
  height: 49px; */
  fill: currentColor;
  cursor: pointer;
}
/* .link .customer-icon:hover,
.link .customer-icon:focus {
  color: var(--accent-color);
} */

.customer .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* .customer .img:hover {
  filter: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg)
    brightness(97%) contrast(96%);
} */
.customer li:hover,
.customer li:focus {
  border: 1px solid var(--accent-color);
}
.team-position {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
/* футер */
.link {
  color: var(--accent-color);
  fill: var(--accent-color);
}
